body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: gray;
    padding: 15px;
    text-align: center;
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

ul {
    list-style: none;
    flex-wrap: nowrap;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    nav {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked + nav {
        display: flex;
    }
}